/* Write CSS Here */
* {

    margin: 0;

    padding: 0;

    box-sizing: border-box;
}
body {

    background-color: rgb(253, 254, 255);

    display: flex;

    justify-content: center;

    align-items: center;
}
table
{
    border: 1px dashed black;
    }
td
{
    padding: 2px;
    border: 1px solid #E88741;
    }
.full {

    width: 50%;

    max-width: 1000px;

    min-height: 100px;

    background-color:  #a3c2c2;

    margin: 0px;

    display: grid;

    grid-template-columns: 2fr 4fr;
}

.left {

    position: initial;

    background-color: #00ace6;

    padding: 15px;
 
}

.right {

    position: initial;

    background-color: rgb(162, 202, 206);

    padding: 15px;
 
}
.Contact, .Skills, .Language, .Hobbies, .title, 
.Summary, .Experience, .Education {

    margin-bottom: 15px;
}

.h2 {

    background-color: rgb(4, 96, 150);
}
 